* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

html {

}

body {
    
}

#purpose {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#purpose h1 {
    font-size: 7rem;
    margin-bottom: 20px;
}

#purpose p {
    font-size: 5rem;
}


/* Team Section */

#team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 200px;
}

#team-banner {
    display: flex;
    width: 1500px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    background-image: url("https://placehold.co/1500x100");
}

#team-banner h2 {
    font-size: 5rem;
    margin-left: 50px;
}

#team-links {
    display: flex;
    width: 500px;
    height: 50%;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 20px;
}

.vl {
    border-right: 2px solid black;
    padding-right: 20px;
}

#team-links a {
    font-size: 3rem;
}

#team-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.team {
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 125px;
    padding-bottom: 125px;
    border-bottom: 2px solid black;
}

.team figcaption {
    font-size: 3.5rem;
    text-align: center;
    padding-bottom: 30px;
}


.team p {
    font-size: 3rem;
    margin-left: 100px;
    text-align: right;
}

