* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

html {

}

body {
    
}

#purpose {
    display: flex;
    background-image: url("https://placehold.co/1920x1080");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1920;
    height: 1080px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#purpose h1 {
    font-size: 7rem;
}

/* Team Section */

#team {
    display: flex;
    justify-content: center;
}

#team-banner {
    display: flex;
    width: 1500px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    /* delete after */
    border: 1px solid red;
    background-image: url("https://placehold.co/1500x100");
}

#team-banner h2 {
    font-size: 5rem;
    margin-left: 50px;
}

#team-links {
    display: flex;
    width: 500px;
    height: 50%;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 20px;
}

.vl {
    border-right: 2px solid black;
    padding-right: 20px;
}

#team-links a {
    font-size: 3rem;
}